<!-- Episode -->
<div class="episode-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <a
                                data-lg-size="1280-720"
                                data-src="https://www.youtube.com/watch?v=68mTG-fxzX4"
                                data-sub-html="<p>Goca Video</p>"
                            >
                                <img src="assets/images/episode/episode-1.jpg" alt="image">
                                <div class="icon-play">
                                    <i class="ri-play-mini-fill"></i>
                                </div>
                            </a>
                        </lightgallery>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>7th Dec, 2024</span>
                            </li>
                            <li>Episodes: 16</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-video-episode">
                                Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <a
                                data-lg-size="1280-720"
                                data-src="https://www.youtube.com/watch?v=s42msZs9gRU"
                                data-sub-html="<p>Goca Video</p>"
                            >
                                <img src="assets/images/episode/episode-2.jpg" alt="image">
                                <div class="icon-play">
                                    <i class="ri-play-mini-fill"></i>
                                </div>
                            </a>
                        </lightgallery>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>1st Dec, 2024</span>
                            </li>
                            <li>Episodes: 21</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-video-episode">
                                Ask Unladylike: Late Bloomer with Forever 35
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <a
                                data-lg-size="1280-720"
                                data-src="https://www.youtube.com/watch?v=wIBat0s07-M"
                                data-sub-html="<p>Goca Video</p>"
                            >
                                <img src="assets/images/episode/episode-3.jpg" alt="image">
                                <div class="icon-play">
                                    <i class="ri-play-mini-fill"></i>
                                </div>
                            </a>
                        </lightgallery>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>27th SAug, 2024</span>
                            </li>
                            <li>Episodes: 11</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-video-episode">
                                How to Effectively Incentivize Team Members
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <a
                                data-lg-size="1280-720"
                                data-src="https://www.youtube.com/watch?v=FunL6c0DeiE"
                                data-sub-html="<p>Goca Video</p>"
                            >
                                <img src="assets/images/episode/episode-4.jpg" alt="image">
                                <div class="icon-play">
                                    <i class="ri-play-mini-fill"></i>
                                </div>
                            </a>
                        </lightgallery>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>15th Aug, 2024</span>
                            </li>
                            <li>Episodes: 18</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-video-episode">
                                How to go from Start-Up to Scale-Up
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <a
                                data-lg-size="1280-720"
                                data-src="https://www.youtube.com/watch?v=XT5KHzsrzMU"
                                data-sub-html="<p>Goca Video</p>"
                            >
                                <img src="assets/images/episode/episode-5.jpg" alt="image">
                                <div class="icon-play">
                                    <i class="ri-play-mini-fill"></i>
                                </div>
                            </a>
                        </lightgallery>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>7th Dec, 2024</span>
                            </li>
                            <li>Episodes: 16</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-video-episode">
                                Deadbuttons – Tired of You | Live at Club Heavy
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <a
                                data-lg-size="1280-720"
                                data-src="https://www.youtube.com/watch?v=_FZqUPoTzus"
                                data-sub-html="<p>Goca Video</p>"
                            >
                                <img src="assets/images/episode/episode-6.jpg" alt="image">
                                <div class="icon-play">
                                    <i class="ri-play-mini-fill"></i>
                                </div>
                            </a>
                        </lightgallery>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>1st Dec, 2024</span>
                            </li>
                            <li>Episodes: 21</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-video-episode">
                                Boogie Through the Universe with SOWO
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <a
                                data-lg-size="1280-720"
                                data-src="https://www.youtube.com/watch?v=FCL29cyOlYc"
                                data-sub-html="<p>Goca Video</p>"
                            >
                                <img src="assets/images/episode/episode-7.jpg" alt="image">
                                <div class="icon-play">
                                    <i class="ri-play-mini-fill"></i>
                                </div>
                            </a>
                        </lightgallery>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>27th SAug, 2024</span>
                            </li>
                            <li>Episodes: 11</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-video-episode">
                                Glittering Blackness, Fall – 4 | Live at Club Heavy
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <a
                                data-lg-size="1280-720"
                                data-src="https://www.youtube.com/watch?v=FQH15P-vctE"
                                data-sub-html="<p>Goca Video</p>"
                            >
                                <img src="assets/images/episode/episode-8.jpg" alt="image">
                                <div class="icon-play">
                                    <i class="ri-play-mini-fill"></i>
                                </div>
                            </a>
                        </lightgallery>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>15th Aug, 2024</span>
                            </li>
                            <li>Episodes: 18</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-video-episode">
                                The Meditative Photos of Chaelinjane
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>