<!-- Page Banner -->
<div class="page-banner-area bg-4 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Products Details</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Products Details</li>
            </ul>
        </div>
    </div>
</div>

<!-- Products Details -->
<div class="products-details-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="products-details-image">
                    <img src="assets/images/products-details.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="products-details-desc">
                    <h3>Purple Headphone</h3>
                    <div class="price">
                        <span class="new-price">$200</span>
                        <span class="old-price">$210</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit cras magna ultrices sollicitudin nisl elementum ipsum tortor libero quam pellentesque ege cursus diam convallis eu non tortor habitasse non tortor ante duis vitae convallis habitasse habitasse a facilisis fames fermentum praesent.</p>
                    <div class="products-add-to-cart">
                        <div class="input-counter">
                            <span class="minus-btn"><i class="ri-subtract-line"></i></span>
                            <input type="text" value="1">
                            <span class="plus-btn"><i class="ri-add-line"></i></span>
                        </div>
                        <button type="submit" class="default-btn"><span>Add to Cart</span></button>
                    </div>
                    <div class="products-meta">
                        <h4>Quick Info</h4>
                        <span>SKU: <span class="sku">02</span></span>
                        <span>Availability: <span class="in-stock">In Stock</span></span>
                        <span>Category: <a routerLink="/shop">Audio & Video</a></span>
                        <span>Tag: <a routerLink="/shop">PC</a>, <a routerLink="/shop">PS4</a>, <a routerLink="/shop">XBOX ONE</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="products-details-tabs">
            <h3>Description</h3>
            <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
            <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
            <ol>
                <li>Nunc, mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam in</li>
                <li>Most of the designer are very creative to do something , mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam in lobortis.</li>
                <li>There are two thing is very important in Consectetur phasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam.</li>
                <li>Web design and development very creative to do something, Mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh venenatis, amet to all design and development.</li>
            </ol>
        </div>
    </div>
</div>