<!-- Page Banner -->
<div class="page-banner-area bg-4 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Blog Grid</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Blog Grid</li>
            </ul>
        </div>
    </div>
</div>

<!-- Blog -->
<div class="blog-posts-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-posts-card">
                    <div class="posts-image">
                        <a routerLink="/blog-details">
                            <img src="assets/images/blog/blog-1.jpg" alt="image">
                        </a>
                    </div>
                    <div class="posts-content">
                        <span>4st Dec, 2024</span>
                        <h3>
                            <a routerLink="/blog-details">
                                How Podcast Helps You to Gather Your Audience in a Platform
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-posts-card">
                    <div class="posts-image">
                        <a routerLink="/blog-details">
                            <img src="assets/images/blog/blog-2.jpg" alt="image">
                        </a>
                    </div>
                    <div class="posts-content">
                        <span>3st Dec, 2024</span>
                        <h3>
                            <a routerLink="/blog-details">
                                Women's Sports With Goca from Comedy has an Ouchie
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-posts-card">
                    <div class="posts-image">
                        <a routerLink="/blog-details">
                            <img src="assets/images/blog/blog-3.jpg" alt="image">
                        </a>
                    </div>
                    <div class="posts-content">
                        <span>2st Dec, 2024</span>
                        <h3>
                            <a routerLink="/blog-details">
                                How to Choose the Right Rating for Your Podcast & why it’s Important
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-posts-card">
                    <div class="posts-image">
                        <a routerLink="/blog-details">
                            <img src="assets/images/blog/blog-4.jpg" alt="image">
                        </a>
                    </div>
                    <div class="posts-content">
                        <span>1st Dec, 2024</span>
                        <h3>
                            <a routerLink="/blog-details">
                                How I Podcast: In Conversation with Angela Belt of "The Mood Board"
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-posts-card">
                    <div class="posts-image">
                        <a routerLink="/blog-details">
                            <img src="assets/images/blog/blog-5.jpg" alt="image">
                        </a>
                    </div>
                    <div class="posts-content">
                        <span>30st Nov, 2024</span>
                        <h3>
                            <a routerLink="/blog-details">
                                The Most Cost-Effective Way to Reach Potential Customers
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-posts-card">
                    <div class="posts-image">
                        <a routerLink="/blog-details">
                            <img src="assets/images/blog/blog-6.jpg" alt="image">
                        </a>
                    </div>
                    <div class="posts-content">
                        <span>29st Nov, 2024</span>
                        <h3>
                            <a routerLink="/blog-details">
                                Have Podcast Advertising Campaigns Up & Running in Minutes
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <div class="nav-links">
                        <a routerLink="/blog" class="prev page-numbers">prev</a>
                        <span class="page-numbers current">1</span>
                        <a routerLink="/blog" class="page-numbers">2</a>
                        <a routerLink="/blog" class="page-numbers">3</a>
                        <a routerLink="/blog" class="next page-numbers">next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>