<!-- All White Logos -->
<div 
    class="sponsors-area ptb-100"
    [ngClass]="{'d-none' : router.url === '/index-2'}"
>
    <div class="container-fluid">
        <div class="section-title-center">
            <h2>Our Sponsors</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada mollis purus.</p>
        </div>
        <div class="sponsors-slides">
            <owl-carousel-o [options]="sponsorsSlides">
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-1.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-2.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-3.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-4.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-5.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-6.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-7.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-8.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- All Black Logos -->
<div 
    class="sponsors-area bg-ffffff ptb-100 d-none"
    [ngClass]="{'d-block' : router.url === '/index-2'}"
>
    <div class="container-fluid">
        <div class="section-title-center">
            <h2>Our Sponsors</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada mollis purus.</p>
        </div>
        <div class="sponsors-slides">
            <owl-carousel-o [options]="sponsorsSlides">
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-9.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-10.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-11.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-12.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-13.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-14.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-15.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="sponsors-card">
                        <a href="#" target="_blank">
                            <img src="assets/images/sponsors/sponsors-16.png" alt="sponsors">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>