.about-content {
    max-width: 675px;
    padding-left: 30px;

    h2 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    .inner-content {
        margin-top: 25px;

        h3 {
            font-size: 22px;
            margin-bottom: 12px;
        }
    }
    .about-social {
        list-style-type: none;
        position: relative;
        padding-left: 0;
        text-align: end;
        margin: {
            top: 30px;
            bottom: 0;
        };
        li {
            display: inline-block;
            margin-right: 15px;

            a {
                color: var(--white-color);
                font-size: 20px;
                display: block;

                &:hover {
                    color: var(--main-color);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &::before {
            left: 0;
            top: 12px;
            width: 75%;
            content: "";
            height: 1px;
            position: absolute;
            background-color: #474455;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .about-content {
        max-width: 100%;
        padding-left: 0;
        margin-top: 25px;

        h2 {
            font-size: 25px;
            margin-bottom: 10px;
        }
        .inner-content {
            h3 {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
        .about-social {
            &::before {
                width: 60%;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .about-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .about-area {
        .container-fluid {
            max-width: 720px;
        }
    }
    .about-content {
        padding-left: 0;
        max-width: 100%;
        margin-top: 25px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .about-area {
        .container-fluid {
            max-width: 960px;
        }
    }
    .about-content {
        max-width: 100%;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .about-area {
        .container-fluid {
            max-width: 1920px;
        }
    }

}