<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>

<!-- About -->
<div class="about-area pt-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets\images\about.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>Some About Us</h2>
                    <p>India is known for its diverse culture, heritage, and scenic beauty and has always been a popular tourist destination. From the serene backwaters of Kerala to the majestic Himalayas, from the bustling lifestyle cities of Delhi and Mumbai to the beautiful beaches of Goa, from the festival culture to vibrant Rajasthan, India has everything to attract the world. Exploring this vast sweep can become easy when you have the guidance of the Best holiday planner India.</p>
                    <div class="inner-content">
                        <h3>Our Mission</h3>
                        <p>Our mission is to simplify travel planning by offering intuitive tools, personalized experiences, and seamless coordination for every traveler’s journey.</p>
                    </div>
                    <div class="inner-content">
                        <h3>Our Vision</h3>
                        <p>Our vision is to become the leading platform that inspires and empowers travelers to explore the world effortlessly and confidently.
</p>
                    </div>
                    <ul class="about-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-testimonials></app-testimonials>


