<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>

<!-- About -->
<div class="about-area pt-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="assets/images/about/about-2.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>Some About Us</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet.</p>
                    <div class="inner-content">
                        <h3>Our Mission</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit elementum sed diam luctus etiam amet diam id erat molestie.</p>
                    </div>
                    <div class="inner-content">
                        <h3>Our Vision</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit elementum sed diam luctus etiam amet diam id erat molestie ac magna diam tui vitae suspendisse a libero libero potenti dui sem ut et vestibulum pellentesque euismod odio proin cura.</p>
                    </div>
                    <ul class="about-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-our-hosts></app-our-hosts>

<app-testimonials></app-testimonials>

<app-our-sponsors></app-our-sponsors>