<!-- Default Featured Shows -->
<div 
    class="featured-shows-area pb-75"
    [ngClass]="{'d-none' : router.url === '/index-2' || router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title d-flex align-items-center justify-content-between">
            <h2 class="heading-title">Featured Shows</h2>
            <a routerLink="/season-list">Browse All Featured Shows <i class="ri-arrow-right-s-line"></i></a>
        </div>
        <div class="featured-shows-inner-item">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="featured-shows-left-box">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-12 col-md-12">
                                <div class="featured-shows-left-image">
                                    <a routerLink="/single-season">
                                        <img src="assets/images/featured-shows/shows-main-1.jpg" alt="image">
                                    </a>
                                    <div class="shows-video-view">
                                        <a routerLink="/single-season" class="popup-youtube">
                                            <i class="ri-play-mini-fill"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12">
                                <div class="featured-shows-left-content">
                                    <h3>
                                        <a routerLink="/single-season">
                                            Finding Moments Of Joy In A New Challenging Year
                                        </a>
                                    </h3>
                                    <ul class="shows-list d-flex justify-content-between">
                                        <li>
                                            <span>
                                                1st Dec, 2024
                                            </span>
                                        </li>
                                        <li>
                                            Episode: 21
                                        </li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada mollis purus lorem ipsum dolor sit amet eget.</p>
                                    <ul class="shows-btn-list">
                                        <li>
                                            <a routerLink="/single-season">
                                                <i class="flaticon-headphones"></i> Listen Now
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/season-list">
                                                <i class="flaticon-writing"></i> Browse All
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="featured-shows-right-box">
                        <div class="item-box d-flex align-items-center">
                            <div class="featured-shows-right-image">
                                <a routerLink="/single-episode">
                                    <img src="assets/images/featured-shows/shows-1.jpg" alt="image">
                                </a>
                                <div class="shows-video-view">
                                    <a routerLink="/single-episode" class="popup-youtube">
                                        <i class="ri-play-mini-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-shows-right-info">
                                <span>Episode: 01</span>
                                <h4 class="title">
                                    <a routerLink="/single-episode">
                                        How to Make Millions Playing Wizard Poker In A Month
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="item-box d-flex align-items-center">
                            <div class="featured-shows-right-image">
                                <a routerLink="/single-episode">
                                    <img src="assets/images/featured-shows/shows-2.jpg" alt="image">
                                </a>
                                <div class="shows-video-view">
                                    <a routerLink="/single-episode" class="popup-youtube">
                                        <i class="ri-play-mini-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-shows-right-info">
                                <span>Episode: 02</span>
                                <h4 class="title">
                                    <a routerLink="/single-episode">
                                        Rodeo Announcing With Bob Tallman And Wayne Brooks
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="item-box d-flex align-items-center">
                            <div class="featured-shows-right-image">
                                <a routerLink="/single-episode">
                                    <img src="assets/images/featured-shows/shows-3.jpg" alt="image">
                                </a>
                                <div class="shows-video-view">
                                    <a routerLink="/single-episode" class="popup-youtube">
                                        <i class="ri-play-mini-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-shows-right-info">
                                <span>Episode: 03</span>
                                <h4 class="title">
                                    <a routerLink="/single-episode">
                                        From 10,000 B.C. To A Bar in Midtown Reno To Enjoy
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured-shows-inner-item">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="featured-shows-left-box">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-12 col-md-12">
                                <div class="featured-shows-left-image">
                                    <a routerLink="/single-season">
                                        <img src="assets/images/featured-shows/shows-main-2.jpg" alt="image">
                                    </a>
                                    <div class="shows-video-view">
                                        <a routerLink="/single-season" class="popup-youtube">
                                            <i class="ri-play-mini-fill"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12">
                                <div class="featured-shows-left-content">
                                    <h3>
                                        <a routerLink="/single-season">
                                            The Fantastical Illustrations of Floralmong
                                        </a>
                                    </h3>
                                    <ul class="shows-list d-flex justify-content-between">
                                        <li>
                                            <span>
                                                1st Dec, 2024
                                            </span>
                                        </li>
                                        <li>Episode: 21</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada mollis purus lorem ipsum dolor sit amet eget.</p>
                                    <ul class="shows-btn-list">
                                        <li>
                                            <a routerLink="/single-season">
                                                <i class="flaticon-headphones"></i> Listen Now
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/season-list">
                                                <i class="flaticon-writing"></i> Browse All
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="featured-shows-right-box">
                        <div class="item-box d-flex align-items-center">
                            <div class="featured-shows-right-image">
                                <a routerLink="/single-episode">
                                    <img src="assets/images/featured-shows/shows-4.jpg" alt="image">
                                </a>
                                <div class="shows-video-view">
                                    <a routerLink="/single-episode" class="popup-youtube">
                                        <i class="ri-play-mini-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-shows-right-info">
                                <span>Episode: 01</span>
                                <h4 class="title">
                                    <a routerLink="/single-episode">
                                        Big Day South 2024: Collaboration Stage In San Francisco
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="item-box d-flex align-items-center">
                            <div class="featured-shows-right-image">
                                <a routerLink="/single-episode">
                                    <img src="assets/images/featured-shows/shows-5.jpg" alt="image">
                                </a>
                                <div class="shows-video-view">
                                    <a routerLink="/single-episode" class="popup-youtube">
                                        <i class="ri-play-mini-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-shows-right-info">
                                <span>Episode: 02</span>
                                <h4 class="title">
                                    <a routerLink="/single-episode">
                                        How To Overcome A Problem During Fantastic Illustration
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="item-box d-flex align-items-center">
                            <div class="featured-shows-right-image">
                                <a routerLink="/single-episode">
                                    <img src="assets/images/featured-shows/shows-6.jpg" alt="image">
                                </a>
                                <div class="shows-video-view">
                                    <a routerLink="/single-episode" class="popup-youtube">
                                        <i class="ri-play-mini-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-shows-right-info">
                                <span>Episode: 03</span>
                                <h4 class="title">
                                    <a routerLink="/single-episode">
                                        Big Day South 2024: Collaborative Community Art School
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured-shows-inner-item">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="featured-shows-left-box">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-12 col-md-12">
                                <div class="featured-shows-left-image">
                                    <a routerLink="/single-season">
                                        <img src="assets/images/featured-shows/shows-main-3.jpg" alt="image">
                                    </a>
                                    <div class="shows-video-view">
                                        <a routerLink="/single-season" class="popup-youtube">
                                            <i class="ri-play-mini-fill"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-12 col-md-12">
                                <div class="featured-shows-left-content">
                                    <h3>
                                        <a routerLink="/single-season">
                                            How to Make Millions Playing Wizard Poker In A Month
                                        </a>
                                    </h3>
                                    <ul class="shows-list d-flex justify-content-between">
                                        <li>
                                            <span>
                                                1st Dec, 2024
                                            </span>
                                        </li>
                                        <li>Episode: 21</li>
                                    </ul>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada mollis purus lorem ipsum dolor sit amet eget.</p>
                                    <ul class="shows-btn-list">
                                        <li>
                                            <a routerLink="/single-season">
                                                <i class="flaticon-headphones"></i> Listen Now
                                            </a>
                                        </li>
                                        <li>
                                            <a routerLink="/season-list">
                                                <i class="flaticon-writing"></i> Browse All
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="featured-shows-right-box">
                        <div class="item-box d-flex align-items-center">
                            <div class="featured-shows-right-image">
                                <a routerLink="/single-episode">
                                    <img src="assets/images/featured-shows/shows-7.jpg" alt="image">
                                </a>
                                <div class="shows-video-view">
                                    <a routerLink="/single-episode" class="popup-youtube">
                                        <i class="ri-play-mini-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-shows-right-info">
                                <span>Episode: 01</span>
                                <h4 class="title">
                                    <a routerLink="/single-episode">
                                        How Can A Podcast Be More Effective Than A Festival Event
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="item-box d-flex align-items-center">
                            <div class="featured-shows-right-image">
                                <a routerLink="/single-episode">
                                    <img src="assets/images/featured-shows/shows-8.jpg" alt="image">
                                </a>
                                <div class="shows-video-view">
                                    <a routerLink="/single-episode" class="popup-youtube">
                                        <i class="ri-play-mini-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-shows-right-info">
                                <span>Episode: 02</span>
                                <h4 class="title">
                                    <a routerLink="/single-episode">
                                        Now NFT Can Be A Great Source Of Investment In 2024
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="item-box d-flex align-items-center">
                            <div class="featured-shows-right-image">
                                <a routerLink="/single-episode">
                                    <img src="assets/images/featured-shows/shows-9.jpg" alt="image">
                                </a>
                                <div class="shows-video-view">
                                    <a routerLink="/single-episode" class="popup-youtube">
                                        <i class="ri-play-mini-fill"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="featured-shows-right-info">
                                <span>Episode: 03</span>
                                <h4 class="title">
                                    <a routerLink="/single-episode">
                                        Deadbuttons Tired Live Club Heavy Celebration Stage
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Featured Shows Only for Home Demo - 2 & 3 -->
<div 
    class="featured-shows-area bg-f1eff5 pt-100 pb-75 d-none"
    [ngClass]="{'d-block' : router.url === '/index-2' || router.url === '/index-3', 'bg-ffffff' : router.url === '/index-3'}"
>
    <div class="container">
        <div class="section-title d-flex align-items-center justify-content-between">
            <h2 class="heading-title">Featured Shows</h2>
            <a routerLink="/season-list">Browse All Featured Shows <i class="ri-arrow-right-s-line"></i></a>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="single-featured-shows-card">
                    <div class="featured-image">
                        <img src="assets/images/featured-shows/shows-main-4.jpg" alt="image">
                        <div class="content">
                            <h3>
                                <a routerLink="/single-season">
                                    Finding Moments Of Joy In A New Challenging Year
                                </a>
                            </h3>
                            <ul class="list">
                                <li>
                                    <span>1st Dec, 2024</span>
                                </li>
                                <li>
                                    <span>Total Episode: 21</span>
                                </li>
                            </ul>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-item-box d-flex align-items-center">
                        <div class="right-image">
                            <a routerLink="/single-season">
                                <img src="assets/images/featured-shows/shows-4.jpg" alt="image">
                            </a>
                        </div>
                        <div class="right-info">
                            <span>Episode: 01</span>
                            <h4 class="title">
                                <a routerLink="/single-season">
                                    How to Make Millions Playing Wizard Poker In A Month
                                </a>
                            </h4>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-item-box d-flex align-items-center">
                        <div class="right-image">
                            <a routerLink="/single-season">
                                <img src="assets/images/featured-shows/shows-5.jpg" alt="image">
                            </a>
                        </div>
                        <div class="right-info">
                            <span>Episode: 02</span>
                            <h4 class="title">
                                <a routerLink="/single-season">Rodeo Announcing With Bob Tallman And Wayne Brooks</a>
                            </h4>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-item-box d-flex align-items-center">
                        <div class="right-image">
                            <a routerLink="/single-season">
                                <img src="assets/images/featured-shows/shows-6.jpg" alt="image">
                            </a>
                        </div>
                        <div class="right-info">
                            <span>Episode: 03</span>
                            <h4 class="title">
                                <a routerLink="/single-season">
                                    From 10,000 B.C. To A Bar in Midtown Reno To Enjoy
                                </a>
                            </h4>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="featured-browse-all-btn">
                        <a routerLink="/season-list"><i class="flaticon-writing"></i> Browse All</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-featured-shows-card">
                    <div class="featured-image">
                        <img src="assets/images/featured-shows/shows-main-5.jpg" alt="image">
                        <div class="content">
                            <h3>
                                <a routerLink="/single-season">
                                    Finding Moments Of Joy In A New Challenging Year
                                </a>
                            </h3>
                            <ul class="list">
                                <li>
                                    <span>5st Dec, 2024</span>
                                </li>
                                <li>
                                    <span>Total Episode: 15</span>
                                </li>
                            </ul>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-item-box d-flex align-items-center">
                        <div class="right-image">
                            <a routerLink="/single-season">
                                <img src="assets/images/featured-shows/shows-1.jpg" alt="image">
                            </a>
                        </div>
                        <div class="right-info">
                            <span>Episode: 01</span>
                            <h4 class="title">
                                <a routerLink="/single-season">
                                    How to Make Millions Playing Wizard Poker In A Month
                                </a>
                            </h4>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-item-box d-flex align-items-center">
                        <div class="right-image">
                            <a routerLink="/single-season">
                                <img src="assets/images/featured-shows/shows-2.jpg" alt="image">
                            </a>
                        </div>
                        <div class="right-info">
                            <span>Episode: 02</span>
                            <h4 class="title">
                                <a routerLink="/single-season">
                                    Rodeo Announcing With Bob Tallman And Wayne Brooks
                                </a>
                            </h4>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-item-box d-flex align-items-center">
                        <div class="right-image">
                            <a routerLink="/single-season">
                                <img src="assets/images/featured-shows/shows-3.jpg" alt="image">
                            </a>
                        </div>
                        <div class="right-info">
                            <span>Episode: 03</span>
                            <h4 class="title">
                                <a routerLink="/single-season">
                                    From 10,000 B.C. To A Bar in Midtown Reno To Enjoy
                                </a>
                            </h4>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="featured-browse-all-btn">
                        <a routerLink="/season-list"><i class="flaticon-writing"></i> Browse All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>