<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Season List</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Season List</li>
            </ul>
        </div>
    </div>
</div>

<!-- Season List -->
<div class="featured-shows-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="single-featured-shows-card">
                    <div class="featured-image">
                        <img src="assets/images/featured-shows/shows-main-4.jpg" alt="image">
                        <div class="content">
                            <h3>
                                <a routerLink="/single-season">
                                    Finding Moments Of Joy In A New Challenging Year
                                </a>
                            </h3>
                            <ul class="list">
                                <li>
                                    <span>1st Dec, 2024</span>
                                </li>
                                <li>
                                    <span>Total Episode: 21</span>
                                </li>
                            </ul>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                        <div class="season-meta">Season: 01</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-featured-shows-card">
                    <div class="featured-image">
                        <img src="assets/images/featured-shows/shows-main-5.jpg" alt="image">
                        <div class="content">
                            <h3>
                                <a routerLink="/single-season">
                                    Finding Moments Of Joy In A New Challenging Year
                                </a>
                            </h3>
                            <ul class="list">
                                <li>
                                    <span>2st Dec, 2024</span>
                                </li>
                                <li>
                                    <span>Total Episode: 15</span>
                                </li>
                            </ul>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                        <div class="season-meta">Season: 02</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-featured-shows-card">
                    <div class="featured-image">
                        <img src="assets/images/featured-shows/shows-main-6.jpg" alt="image">
                        <div class="content">
                            <h3>
                                <a routerLink="/single-season">
                                    Spotlight On 9 Dreamer: Dreamer’s Dream
                                </a>
                            </h3>
                            <ul class="list">
                                <li>
                                    <span>3st Dec, 2024</span>
                                </li>
                                <li>
                                    <span>Total Episode: 10</span>
                                </li>
                            </ul>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                        <div class="season-meta">Season: 03</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-featured-shows-card">
                    <div class="featured-image">
                        <img src="assets/images/featured-shows/shows-main-7.jpg" alt="image">
                        <div class="content">
                            <h3>
                                <a routerLink="/single-season">
                                    Finding Moments Of Joy In A New Challenging Year
                                </a>
                            </h3>
                            <ul class="list">
                                <li>
                                    <span>1st Dec, 2024</span>
                                </li>
                                <li>
                                    <span>Total Episode: 05</span>
                                </li>
                            </ul>
                        </div>
                        <div class="video-view">
                            <a routerLink="/single-season" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                        <div class="season-meta">Season: 04</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>