

<!-- Products -->
<form >
    <div class="search-bar">
    <form >
            <input type="text" class="input-search" [(ngModel)]="filterData.keyword" name="keyword" placeholder="Search here..." (input)="onFilterChange()" />
            </form>
    </div>


    <div style="display: flex; justify-content: center ; margin-top: 100px; gap: 100px;">

        <div class="custom-select">
            <input type="text" [(ngModel)]="filterData.to" class="custom-search" placeholder="TO :" (input)="onFilterChange()"/>
        </div>
        <div class="custom-select" style="width:200px;">
            <input type="text" [(ngModel)]="filterData.from" class="custom-search" name="from" placeholder="From" (input)="onFilterChange()" />
        </div>

        <div class="custom-select" style="width:200px;">
            <input type="text" [(ngModel)]="filterData.duration" class="custom-search" name="duration" placeholder="Duration :" (input)="onFilterChange()"/>
        </div>
        <div class="custom-select" style="width:200px;">
            <input type="text" class="custom-search" placeholder="Price : ">
        </div>
        
        
    </div>
</form>  

  
<div class="products-area ptb-100">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-3 col-sm-6" *ngFor="let trip of trips">
                <div class="single-products-card style-two">
                    <div class="products-image">
                        <a routerLink="/products-details">
                            <img [src]="'http://localhost:1002/booking-service-api-local/trips/' + trip.imgURL" alt="image">
                        </a>
                    </div>
                    <div class="products-content">
                        <h3>
                            <a routerLink="/products-details">

                                {{ trip.name }}

                            </a>
                        </h3>
                        <span>${{ trip.price }}</span>
                    </div>
                    <ul class="products-action">
                        <li><a routerLink="/products-details"><i class="ri-eye-fill"></i></a></li>
                        <li><a routerLink="/booking"><i class="ri-shopping-cart-line"></i></a></li>
                    </ul>
                </div>
            </div>
 <div class="col-lg-12 col-md-12">
  <div class="pagination-area">
    <div class="nav-links">
      <a 
        class="prev page-numbers" 
        (click)="prevPage()" 
        [class.disabled]="page === 0"
        style="cursor: pointer;"
      >Prev</a>

      <span 
        class="page-numbers" 
        *ngFor="let p of totalPagesArray; let i = index"
        [class.current]="i === page"
        (click)="goToPage(i)"
        style="cursor: pointer;"
      >
        {{ i + 1 }}
      </span>

      <a 
        class="next page-numbers" 
        (click)="nextPage()" 
        [class.disabled]="page >= totalPages - 1"
        style="cursor: pointer;"
      >Next</a>
    </div>
  </div>
</div>

        </div>
    </div>
</div>