<!-- Page Banner -->
<div class="page-banner-area ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Shop</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Shop</li>
            </ul>
        </div>
    </div>
</div>

<!-- Products -->
<div class="products-area ptb-100">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-3 col-sm-6">
                <div class="single-products-card style-two">
                    <div class="products-image">
                        <a routerLink="/products-details">
                            <img src="assets/images/products/products-1.png" alt="image">
                        </a>
                    </div>
                    <div class="products-content">
                        <h3>
                            <a routerLink="/products-details">
                                Designer T-Shirt
                            </a>
                        </h3>
                        <span>$20</span>
                    </div>
                    <ul class="products-action">
                        <li><a routerLink="/products-details"><i class="ri-eye-fill"></i></a></li>
                        <li><a routerLink="/cart"><i class="ri-shopping-cart-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-products-card style-two">
                    <div class="products-image">
                        <a routerLink="/products-details">
                            <img src="assets/images/products/products-2.png" alt="image">
                        </a>
                    </div>
                    <div class="products-content">
                        <h3>
                            <a routerLink="/products-details">
                                White Headphone
                            </a>
                        </h3>
                        <span>$150</span>
                    </div>
                    <ul class="products-action">
                        <li><a routerLink="/products-details"><i class="ri-eye-fill"></i></a></li>
                        <li><a routerLink="/cart"><i class="ri-shopping-cart-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-products-card style-two">
                    <div class="products-image">
                        <a routerLink="/products-details">
                            <img src="assets/images/products/products-3.png" alt="image">
                        </a>
                    </div>
                    <div class="products-content">
                        <h3>
                            <a routerLink="/products-details">
                                Vintage Disk
                            </a>
                        </h3>
                        <span>$50</span>
                    </div>
                    <ul class="products-action">
                        <li><a routerLink="/products-details"><i class="ri-eye-fill"></i></a></li>
                        <li><a routerLink="/cart"><i class="ri-shopping-cart-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-products-card style-two">
                    <div class="products-image">
                        <a routerLink="/products-details">
                            <img src="assets/images/products/products-4.png" alt="image">
                        </a>
                    </div>
                    <div class="products-content">
                        <h3>
                            <a routerLink="/products-details">
                                Purple Headphone
                            </a>
                        </h3>
                        <span>$30</span>
                    </div>
                    <ul class="products-action">
                        <li><a routerLink="/products-details"><i class="ri-eye-fill"></i></a></li>
                        <li><a routerLink="/cart"><i class="ri-shopping-cart-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-products-card style-two">
                    <div class="products-image">
                        <a routerLink="/products-details">
                            <img src="assets/images/products/products-5.png" alt="image">
                        </a>
                    </div>
                    <div class="products-content">
                        <h3>
                            <a routerLink="/products-details">
                                Cotton T-shirt
                            </a>
                        </h3>
                        <span>$55</span>
                    </div>
                    <ul class="products-action">
                        <li><a routerLink="/products-details"><i class="ri-eye-fill"></i></a></li>
                        <li><a routerLink="/cart"><i class="ri-shopping-cart-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-products-card style-two">
                    <div class="products-image">
                        <a routerLink="/products-details">
                            <img src="assets/images/products/products-6.png" alt="image">
                        </a>
                    </div>
                    <div class="products-content">
                        <h3>
                            <a routerLink="/products-details">
                                Yellow Headphone
                            </a>
                        </h3>
                        <span>$150</span>
                    </div>
                    <ul class="products-action">
                        <li><a routerLink="/products-details"><i class="ri-eye-fill"></i></a></li>
                        <li><a routerLink="/cart"><i class="ri-shopping-cart-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-products-card style-two">
                    <div class="products-image">
                        <a routerLink="/products-details">
                            <img src="assets/images/products/products-7.png" alt="image">
                        </a>
                    </div>
                    <div class="products-content">
                        <h3>
                            <a routerLink="/products-details">
                                Black Headphone
                            </a>
                        </h3>
                        <span>$50</span>
                    </div>
                    <ul class="products-action">
                        <li><a routerLink="/products-details"><i class="ri-eye-fill"></i></a></li>
                        <li><a routerLink="/cart"><i class="ri-shopping-cart-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-products-card style-two">
                    <div class="products-image">
                        <a routerLink="/products-details">
                            <img src="assets/images/products/products-8.png" alt="image">
                        </a>
                    </div>
                    <div class="products-content">
                        <h3>
                            <a routerLink="/products-details">
                                Unique T-Shirt
                            </a>
                        </h3>
                        <span>$30</span>
                    </div>
                    <ul class="products-action">
                        <li><a routerLink="/products-details"><i class="ri-eye-fill"></i></a></li>
                        <li><a routerLink="/cart"><i class="ri-shopping-cart-line"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="pagination-area">
                    <div class="nav-links">
                        <a routerLink="/shop" class="prev page-numbers">prev</a>
                        <span class="page-numbers current">1</span>
                        <a routerLink="/shop" class="page-numbers">2</a>
                        <a routerLink="/shop" class="page-numbers">3</a>
                        <a routerLink="/shop" class="next page-numbers">next</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>