<div 
    class="newsletter-area"
    [ngClass]="{'bg-0c003d' : router.url === '/index-2'}"
>
    <div class="container">
        <div class="newsletter-inner-box">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="newsletter-content">
                        <h3>Sign Up For Our Newsletter. It’s Free!</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt todeiy felis malesuada mollis purus id sit in aliquet.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Your Email Address" name="EMAIL" required autocomplete="off">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>