<!-- Page Banner -->
<!-- <div class="page-banner-area bg-2 ptb-100">
    <div class="container">
        <div class="search-overlay-form">
            <form>
                <input type="text" class="input-search" placeholder="Search here...">
                <button type="submit"><i class="flaticon-loupe"></i></button>
            </form>
        </div>
    </div>
</div> -->

<!-- Episode -->
<div class="search-bar">
    <form>
        <input type="text" class="input-search" placeholder="Search here...">
        <button type="submit"><i class="flaticon-loupe"></i></button>
    </form>
</div>



<div class="episode-area pt-100 pb-75">
    
    <div class="container">
        
       
        
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <a routerLink="/single-episode">
                            <img src="assets/images/episode/episode-1.jpg" alt="image">
                        </a>
                        <div class="episode-video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>7th Dec, 2024</span>
                            </li>
                            <li>Episodes: 16</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-episode">
                                Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <a routerLink="/single-episode">
                            <img src="assets/images/episode/episode-2.jpg" alt="image">
                        </a>
                        <div class="episode-video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>1st Dec, 2024</span>
                            </li>
                            <li>Episodes: 21</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-episode">
                                Ask Unladylike: Late Bloomer with Forever 35
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <a routerLink="/single-episode">
                            <img src="assets/images/episode/episode-3.jpg" alt="image">
                        </a>
                        <div class="episode-video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>27th SAug, 2024</span>
                            </li>
                            <li>Episodes: 11</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-episode">
                                How to Effectively Incentivize Team Members
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <a routerLink="/single-episode">
                            <img src="assets/images/episode/episode-4.jpg" alt="image">
                        </a>
                        <div class="episode-video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>15th Aug, 2024</span>
                            </li>
                            <li>Episodes: 18</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-episode">
                                How to go from Start-Up to Scale-Up
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <a routerLink="/single-episode">
                            <img src="assets/images/episode/episode-5.jpg" alt="image">
                        </a>
                        <div class="episode-video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>7th Dec, 2024</span>
                            </li>
                            <li>Episodes: 16</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-episode">
                                Deadbuttons – Tired of You | Live at Club Heavy
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <a routerLink="/single-episode">
                            <img src="assets/images/episode/episode-6.jpg" alt="image">
                        </a>
                        <div class="episode-video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>1st Dec, 2024</span>
                            </li>
                            <li>Episodes: 21</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-episode">
                                Boogie Through the Universe with SOWO
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <a routerLink="/single-episode">
                            <img src="assets/images/episode/episode-7.jpg" alt="image">
                        </a>
                        <div class="episode-video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>27th SAug, 2024</span>
                            </li>
                            <li>Episodes: 11</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-episode">
                                Glittering Blackness, Fall – 4 | Live at Club Heavy
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="episode-single-card">
                    <div class="episode-image">
                        <a routerLink="/single-episode">
                            <img src="assets/images/episode/episode-8.jpg" alt="image">
                        </a>
                        <div class="episode-video-view">
                            <a routerLink="/single-episode" class="popup-youtube">
                                <i class="ri-play-mini-fill"></i>
                            </a>
                        </div>
                    </div>
                    <div class="episode-content">
                        <ul class="episode-list d-flex justify-content-between">
                            <li>
                                <span>15th Aug, 2024</span>
                            </li>
                            <li>Episodes: 18</li>
                        </ul>
                        <h3>
                            <a routerLink="/single-episode">
                                The Meditative Photos of Chaelinjane
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>