.episode-area {
    &.bg-ffffff {
        background-color: var(--white-color);

        .section-title-center {
            h2 {
                color: var(--black-color);
            }
        }

        .episode-single-card {
            .episode-content {
                .episode-list {
                    li {
                        color: #8C88AC;

                        span {
                            &::after {
                                background: #8C88AC;
                            }
                        }
                    }
                }

                h3 {
                    color: var(--black-color);

                    a {
                        color: var(--black-color);
                    }
                }
            }
        }
    }

    &.bg-f1eff5 {
        background-color: #f1eff5;
    }
}

.episode-single-card {
    margin-bottom: 25px;

    .episode-image {
        z-index: 1;
        overflow: hidden;
        border-radius: 5px;
        position: relative;
        transition: var(--transition);

        a {
            display: block;

            img {
                transition: var(--transition);
                border-radius: 5px;
            }
        }

        .episode-video-view {
            right: 25px;
            bottom: 25px;
            position: absolute;

            a {
                i {
                    width: 55px;
                    height: 55px;
                    font-size: 30px;
                    line-height: 50px;
                    text-align: center;
                    border-radius: 50%;
                    display: inline-block;
                    transition: var(--transition);
                    background-color: transparent;
                    border: 2px solid var(--white-color);
                }
            }
        }

        .icon-play {
            right: 25px;
            bottom: 25px;
            position: absolute;

            i {
                width: 55px;
                height: 55px;
                font-size: 30px;
                line-height: 50px;
                text-align: center;
                border-radius: 50%;
                display: inline-block;
                transition: var(--transition);
                background-color: transparent;
                border: 2px solid var(--white-color);
            }
        }
    }

    .episode-content {
        margin-top: 25px;

        .episode-list {
            padding-left: 0;
            margin-bottom: 15px;
            list-style-type: none;

            li {
                color: var(--paragraph-color);
                display: inline-block;
                margin-right: 20px;

                span {
                    position: relative;
                    padding-left: 40px;

                    &::after {
                        left: 0;
                        top: 7px;
                        width: 30px;
                        content: "";
                        height: 1.5px;
                        position: absolute;
                        border-radius: 50px;
                        transition: all ease 0.5s;
                        background: var(--paragraph-color);
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        h3 {
            font-size: 21px;
            margin-bottom: 0;
            line-height: 1.5;

            a {
                display: inline;
                padding: 0.1% 0px;
                position: relative;
                color: var(--white-color);
                transition: var(--transition);
                transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;

                background: {
                    image: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
                    image: -webkit-linear-gradient(left, currentColor 0%, currentColor 100%);
                    image: -o-linear-gradient(left, currentColor 0%, currentColor 100%);
                    image: linear-gradient(to right, #00f9ef, #00e0ff, #00c4ff, #00a4ff, #007efb);
                    position: 0px 95%;
                    repeat: no-repeat;
                    size: 0px 2px;
                }
            }
        }
    }

    &:hover {
        .episode-image {
            a {
                img {
                    transform: scale(1.1);
                    filter: blur(2px);
                }
            }

            .episode-video-view {
                a {
                    i {
                        background-color: var(--white-color);
                        color: var(--main-color);
                    }
                }
            }

            .icon-play {
                i {
                    background-color: var(--white-color);
                    color: var(--main-color);
                }
            }
        }

        .episode-content {
            h3 {
                a {
                    background-size: 100% 2px;
                }
            }
        }
    }
}

.d-none {
    &.d-block {
        display: block !important;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .episode-single-card {
        .episode-content {
            .episode-list {
                li {
                    font-size: 15px;
                }
            }

            h3 {
                font-size: 18px;
            }
        }
    }

}






/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}