<!-- Page Banner -->
<div class="page-banner-area bg-2 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Meet Our Hosts</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Hosts</li>
            </ul>
        </div>
    </div>
</div>

<!-- Our Hosts -->
<div class="hosts-area pt-100 pb-75">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 hosts-more-item">
                <div class="single-hosts-card">
                    <div class="hosts-image">
                        <img src="assets/images/hosts/hosts-1.jpg" alt="image">
                    </div>
                    <div class="hosts-content">
                        <h3>Jacob Linoski</h3>
                        <span>Art Directory</span>
                    </div>
                    <ul class="hosts-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 hosts-more-item">
                <div class="single-hosts-card">
                    <div class="hosts-image">
                        <img src="assets/images/hosts/hosts-2.jpg" alt="image">
                    </div>
                    <div class="hosts-content">
                        <h3>Patric Burner</h3>
                        <span>Creative Strategist</span>
                    </div>
                    <ul class="hosts-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 hosts-more-item">
                <div class="single-hosts-card">
                    <div class="hosts-image">
                        <img src="assets/images/hosts/hosts-3.jpg" alt="image">
                    </div>
                    <div class="hosts-content">
                        <h3>Victor James</h3>
                        <span>Art Directory</span>
                    </div>
                    <ul class="hosts-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 hosts-more-item">
                <div class="single-hosts-card">
                    <div class="hosts-image">
                        <img src="assets/images/hosts/hosts-4.jpg" alt="image">
                    </div>
                    <div class="hosts-content">
                        <h3>John Karahan</h3>
                        <span>Creative Strategist</span>
                    </div>
                    <ul class="hosts-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 hosts-more-item">
                <div class="single-hosts-card">
                    <div class="hosts-image">
                        <img src="assets/images/hosts/hosts-5.jpg" alt="image">
                    </div>
                    <div class="hosts-content">
                        <h3>Bella Jimenez</h3>
                        <span>Art Directory</span>
                    </div>
                    <ul class="hosts-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 hosts-more-item">
                <div class="single-hosts-card">
                    <div class="hosts-image">
                        <img src="assets/images/hosts/hosts-6.jpg" alt="image">
                    </div>
                    <div class="hosts-content">
                        <h3>Edwin Watson</h3>
                        <span>Creative Strategist</span>
                    </div>
                    <ul class="hosts-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 hosts-more-item">
                <div class="single-hosts-card">
                    <div class="hosts-image">
                        <img src="assets/images/hosts/hosts-7.jpg" alt="image">
                    </div>
                    <div class="hosts-content">
                        <h3>Caitlin Henderson</h3>
                        <span>Art Directory</span>
                    </div>
                    <ul class="hosts-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 hosts-more-item">
                <div class="single-hosts-card">
                    <div class="hosts-image">
                        <img src="assets/images/hosts/hosts-8.jpg" alt="image">
                    </div>
                    <div class="hosts-content">
                        <h3>Andrew Jackson</h3>
                        <span>Creative Strategist</span>
                    </div>
                    <ul class="hosts-social">
                        <li>
                            <a href="https://facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>