<div class="featured-area pb-100">
    <div class="container">
        <div class="featured-inner-box">
            <div class="featured-slides">
                <owl-carousel-o [options]="featuredSlides">
                    <ng-template carouselSlide>
                        <div class="featured-single-card">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-12">
                                    <div class="featured-image">
                                        <a routerLink="/single-episode">
                                            <img src="assets/images/featured/featured-1.jpg" alt="image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <div class="featured-content">
                                        <ul class="featured-list">
                                            <li>Season: 01</li>
                                            <li>Episode: 06</li>
                                        </ul>
                                        <h3>
                                            <a routerLink="/single-episode">
                                                Finding Moments Of Joy In A Challenging Year
                                            </a>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada mollis purus.</p>
                                        <ul class="featured-btn-list">
                                            <li>
                                                <a routerLink="/single-episode">
                                                    <i class="flaticon-headphones"></i> Listen Now
                                                </a>
                                            </li>
                                            <li>
                                                <a routerLink="/episode-list">
                                                    <i class="flaticon-writing"></i> Browse All
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="featured-single-card">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-12">
                                    <div class="featured-image">
                                        <a routerLink="/single-episode">
                                            <img src="assets/images/featured/featured-2.jpg" alt="image">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-12">
                                    <div class="featured-content">
                                        <ul class="featured-list">
                                            <li>Season: 02</li>
                                            <li>Episode: 02</li>
                                        </ul>
                                        <h3>
                                            <a routerLink="/single-episode">
                                                How to Make Millions Playing Wizard Poker In A Month
                                            </a>
                                        </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada mollis purus.</p>
                                        <ul class="featured-btn-list">
                                            <li>
                                                <a routerLink="/single-episode">
                                                    <i class="flaticon-headphones"></i> Listen Now
                                                </a>
                                            </li>
                                            <li>
                                                <a routerLink="/episode-list">
                                                    <i class="flaticon-writing"></i> Browse All
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
            <div class="featured-bold-text">Featured</div>
        </div>
    </div>
</div>