<!-- Start Page Banner Area -->
<div class="page-banner-area bg-4 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Single Season</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Single Season</li>
            </ul>
        </div>
    </div>
</div>

<!-- Single Season -->
<div class="single-season-list-area ptb-100">
    <div class="container">
        <div class="single-season-list-desc">
            <div class="single-season-list-content">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-12">
                        <div class="image">
                            <img src="assets/images/season/season-1.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-12">
                        <ul class="playlist-list">
                            <li>Episode: 01</li>
                            <li>Dec 20, 2024</li>
                        </ul>
                        <audio controls>
                            <source src="assets/audio/song.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="single-season-list-content">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-12">
                        <div class="image">
                            <img src="assets/images/season/season-2.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-12">
                        <ul class="playlist-list">
                            <li>Episode: 02</li>
                            <li>Dec 21, 2024</li>
                        </ul>
                        <audio controls>
                            <source src="assets/audio/song.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="single-season-list-content">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-12">
                        <div class="image">
                            <img src="assets/images/season/season-3.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-12">
                        <ul class="playlist-list">
                            <li>Episode: 03</li>
                            <li>Dec 22, 2024</li>
                        </ul>
                        <audio controls>
                            <source src="assets/audio/song.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="single-season-list-content">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-12">
                        <div class="image">
                            <img src="assets/images/season/season-4.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-12">
                        <ul class="playlist-list">
                            <li>Episode: 04</li>
                            <li>Dec 23, 2024</li>
                        </ul>
                        <audio controls>
                            <source src="assets/audio/song.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="single-season-list-content">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-12">
                        <div class="image">
                            <img src="assets/images/season/season-5.jpg" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-12">
                        <ul class="playlist-list">
                            <li>Episode: 05</li>
                            <li>Dec 24, 2024</li>
                        </ul>
                        <audio controls>
                            <source src="assets/audio/song.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>