<div class="page-banner-area bg-3 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Contact Us</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</div>

<div class="booking-card">
  <div class="image-box">
   <img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e" alt="Package Image" />
  </div>

  <h2 class="package-name">{{ package.name }}</h2>

  <div class="overview-card">
    <p><strong>Price:</strong> ₹{{ package.price }}</p>
    <p><strong>Trip From:</strong> {{ package.trip_from }}</p>
    <p><strong>Trip To:</strong> {{ package.trip_to }}</p>
  </div>

  <div class="status-container">
    <div class="status-line">
      <div class="dot" [ngClass]="{ active: status >= 1 }"></div>
      <div class="dot" [ngClass]="{ active: status >= 2 }"></div>
      <div class="dot" [ngClass]="{ active: status >= 3 }"></div>
      <div class="dot" [ngClass]="{ active: status >= 4 }"></div>
    </div>
    <div class="status-labels">
      <span>Request Sent</span>
      <span>Response Receive</span>
      <span>Payment</span>
      <span>Confirm</span>
    </div>
  </div>
</div>
