<div class="profile-container">
  <div class="profile-card">
    <div class="profile-image">
  <img [src]="'http://localhost:1002/booking-service-api-local/user/' + userResponseList.profileImage" alt="Profile Image" />


</div>

    <div class="profile-info">
      <h1>{{ userResponseList.name }}</h1>
      <p class="title">{{ userRole }}</p>

      <div class="contact-info">
        <p><strong>Email:</strong> {{ userResponseList.email }}</p>
        <p><strong>Phone:</strong> {{ userResponseList.phoneNumber }}</p>
        <p><strong>Location:</strong> {{ userResponseList.locationName}}</p>
        <p><strong>DOB:</strong> {{ userResponseList.dob }}</p>
        <p><strong>Gender:</strong> {{ userResponseList.gender }}</p>
       
    

      </div>

      

      <div class="skills">
        <h3>Skills</h3>
        <ul>
          <li *ngFor="let role of userResponseList.roles">{{ role.name }}</li>
        </ul>
      </div>

      <button class="edit-btn" (click)="goToUpdateProfile()">Edit Profile</button>
    </div>
  </div>
</div>
