<!-- Page Banner -->
<div class="page-banner-area bg-4 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Privacy Policy</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>

<!-- Privacy Policy -->
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="privacy-policy-content">
            <p><i>This Privacy Policy was last updated on December 1, 2024.</i></p>
            <h4><span>1.</span> Our Website</h4>
            <p>Our website address is: http://goca.com</p>
            <h4><span>2.</span> Data You Provide to Us</h4>
            <p>We may collect different data from or about you <i>depending</i> on how you use the Services. Below are some examples to help you better understand the data we collect.</p>
            <h3><span>3.</span> How We Get Data About You</h3>
            <p>We use tools like cookies, web beacons, analytics services, and advertising providers to gather the data listed above. Some of these tools offer you the ability to opt out of data collection.</p>
            <h4><span>4.</span> What We Use Your Data For</h4>
            <ol>
                <li>Responding to your questions and concerns</li>
                <li>Sending you administrative messages and information, including messages from instructors and teaching assistants, notifications about changes to our Service, and updates to our agreements.</li>
                <li>Sending push notifications to your wireless device to provide updates and other relevant messages (which you can manage from the “options” or “settings” page of the mobile app.</li>
            </ol>
            <h4><span>5.</span> Your Choices About the Use of Your Data</h4>
            <p>You can choose not to provide certain data to us but you may not be able to use certain <strong>features</strong> of the Services.</p>
            <ul>
                <li>To stop receiving promotional <strong>communications</strong> from us, you can opt out by using the unsubscribe mechanism in the promotional communication you receive or by changing the email preferences in your account. Note that regardless of your email preference settings, we will send you transactional and relationship messages regarding the Services, including administrative confirmations, order confirmations, important updates about the Services, and notices about our policies.</li>
                <li>The browser or device you use may allow you to control cookies and other types of local data storage. Your wireless device may also allow you to control whether location or other data is collected and shared. You can manage Adobe’s LSOs through their Website Storage Settings panel.</li>
                <li>To get information and control cookies used for tailored advertising from participating companies, see the consumer opt-out pages for the Network <a routerLink="/">Advertising</a> Initiative and Digital Advertising Alliance, or if you’re located in the European Union, visit the Your Online Choices site. To opt out of Google’s display advertising or customize Google Display Network ads, visit the Google Ads Settings page. To opt out of Taboola’s targeted ads, see the Opt-out Link in their Cookie Policy.</li>
                <li>To update data you provide directly, log into your account and update your account at any time.</li>
            </ul>
            <h4><span>6.</span> Our Policy Concerning Children</h4>
            <blockquote class="blockquote">
                <p>We collect certain data from you directly like information you enter yourself data about your participation in courses and data from third-party platforms you connect with <strong>Goca</strong>. We also collect some data automatically information about your device and what parts of our Services you interact with or spend time using.</p>
            </blockquote>
            <p>We recognize the privacy interests of <a routerLink="/">children</a> and encourage parents and guardians to take an active role in their children’s online activities and interests. Children under 13 (or under 16 in the European Economic Area) should not use the Services. If we learn that we’ve collected personal data from a child under those ages.</p>
        </div>
    </div>
</div>