<div class="overview-area ptb-100">
    <div class="container">
        <div 
            class="overview-content"
            [ngClass]="{'text-start' : router.url === '/index-3'}"
        >
            <h3>Support Our Channel On Patreon</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in felis malesuada mollis purus id sit in aliquet lectus eget morbi dui felis malesuada mollis purus.</p>
            <a routerLink="/contact" class="default-btn"><i class="flaticon-patreon"></i> Become A Patreon</a>
            <ul class="overview-info-list">
                <li>
                    <span class="color-text">
                        Subscribe On:
                    </span>
                </li>
                <li class="list">
                    <a href="https://www.apple.com/apple-music/" target="_blank">
                        <i class="flaticon-apple-logo"></i> 
                        Apple Music
                    </a>
                </li>
                <li class="list">
                    <a href="https://www.spotify.com/" target="_blank">
                        <i class="flaticon-spotify"></i> 
                        Spotify
                    </a>
                </li>
                <li class="list">
                    <a href="https://soundcloud.com/" target="_blank">
                        <i class="flaticon-soundcloud"></i> 
                        SoundCloud
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>