<!-- Page Banner -->
<div class="page-banner-area bg-3 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Single Podcast</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Single Podcast</li>
            </ul>
        </div>
    </div>
</div>

<!-- Single Podcast -->
<div class="single-podcast-area pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="podcast-audio-player">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-12">
                            <div class="image">
                                <img src="assets/images/main-banner/audio.jpg" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-12">
                            <audio controls>
                                <source src="assets/audio/song.mp3" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="single-podcast-content">
                    <span class="date">Episode: 01</span>
                    <h3>About This Podcast</h3>
                    <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
                    <ol>
                        <li>Nunc, mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam in</li>
                        <li>Most of the designer are very creative to do something , mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam in lobortis.</li>
                        <li>There are two thing is very important in Consectetur phasellus ultrices fusce nibh justo, venenatis, amet. Lectus quam.</li>
                        <li>Web design and development very creative to do something, Mauris ut in vestibulum. Consectetur phasellus ultrices fusce nibh venenatis, amet to all design and development.</li>
                    </ol>
                    <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                    <p>
                        <img src="assets/images/blog/blog-2.jpg" alt="image">
                    </p>
                    <p>
                        <img src="assets/images/blog/blog-3.jpg" alt="image">
                    </p>
                    <p>
                        <img src="assets/images/blog/blog-4.jpg" alt="image">
                    </p>
                    <h3>Four major elements that we offer:</h3>
                    <p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing.</p>
                    <ul>
                        <li>Scientific skills for getting a better result</li>
                        <li>Communication skills to getting in touch</li>
                        <li>A career overview opportunity is available</li>
                        <li>A good work environment for work</li>
                    </ul>
                    <h3>Setting the mood with incense</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
                    <blockquote>
                        <p>It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </blockquote>
                    <h3>The rise of marketing and why you need it</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a routerLink="/">commodo</a> consequat. Duis aute irure dolor in reprehenderit in sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.</p>
                    <p> 
                        <strong>TAGS:</strong> 
                        <a routerLink="/">Music</a>, 
                        <a routerLink="/">Learning</a>
                    </p>
                    <p> 
                        <strong>Share:</strong> 
                        <a href="https://facebook.com/">Facebook</a>, 
                        <a href="https://twitter.com/">Twitter</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>