<!-- Page Banner -->
<div class="page-banner-area bg-3 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Contact Us</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact-info-content">
                    <h3>Get In Touch</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tincidunt in fel malesuada mollis purus id sit in aliquet lectus eget morbi dui felis deman malesuada.</p>
                    <div class="info-list">
                        <h4>Mail Us</h4>
                        <span>
                            <a href="mailto:hello@goca.com">hello@goca.com</a>
                        </span>
                        <span>
                            <a href="mailto:info@goca.com">info@goca.com</a>
                        </span>
                    </div>
                    <div class="info-list">
                        <h4>Call Us</h4>
                        <span>
                            <a href="tel:0234567890">+02 345 67890</a>
                        </span>
                        <span>
                            <a href="tel:0234567810">+02 345 67810</a>
                        </span>
                    </div>
                    <div class="info-list">
                        <h4>Our Location</h4>
                        <span>7011 Vermont Ave, Los Angeles, CA 90044</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact-form">
                    <h3>Message Us Anytime</h3>
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Phone No" required>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Subject" required>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea placeholder="Your Comments" class="form-control" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        I Accept All <a routerLink="/terms-of-service">Terms & Conditions</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn"><i class="ri-send-plane-line"></i> Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-bg-image"><img src="assets/images/contact.png" alt="image"></div>
</div>