<!-- Page Banner -->
<div class="page-banner-area bg-3 ptb-100">
    <div class="container">
        <div class="page-banner-content">
            <h2>Contact Us</h2>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</div>

<!-- Contact -->
<div class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="contact-info-content">
                    <h3>Get In Touch</h3>
                    <p>Plan your perfect getaway with us—easy, affordable, and unforgettable. Contact now for personalized trips, expert guidance, and exclusive deals!
</p>
                    <div class="info-list">
                        <h4>Mail Us</h4>
                        <span>
                            <a href="mailto:hello@goca.com">tripplanner.com</a>
                        </span>
                        <span>
                            <a href="mailto:info@goca.com">tripplanner.com</a>
                        </span>
                    </div>
                    <div class="info-list">
                        <h4>Call Us</h4>
                        <span>
                            <a href="tel:0234567890">+02 345 67890</a>
                        </span>
                        <span>
                            <a href="tel:0234567810">+02 345 67810</a>
                        </span>
                    </div>
                    <div class="info-list">
                        <h4>Our Location</h4>
                        <span>7011 Vermont Ave, Los Angeles, CA 90044</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="contact-bg-image"><img src="" alt="image"></div> -->
</div>
