.terms-of-service-content {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 15px;

        &:not(:first-child) {
            margin-top: 25px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .blockquote, blockquote {
        background: #322C60;
        padding: 15px 25px;
        border-radius: 5px;

        p {
            margin-bottom: 0;
        }
    }
    p {
        strong {
            color: var(--white-color);
        }
        a {
            color: var(--main-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }
    ol, ul {
        li {
            margin-bottom: 12px;
            color: var(--paragraph-color);

            strong {
                color: var(--white-color);
            }
            a {
                color: var(--main-color);
    
                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}